{
  "extends": "airbnb-base",
  "env": {
    "browser": true
  },
  "rules": {
    "no-param-reassign": "off",
    "no-restricted-properties": "off",
    "no-plusplus": [
      2,
      { "allowForLoopAfterthoughts": true }
    ],
    "prefer-rest-params": "warn" 
  }
}