{
  "root": true,
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "overrides": [
    {
      "files": [ "./dist/*.js" ],
      "rules": {
        "require-jsdoc": "off"
      }
    }
  ],
  "rules": {
    "strict": 0,
    "no-var": "error",
    "semi": "error",
    "indent": "error",
    "no-multi-spaces": "error",
    "space-in-parens": "error",
    "no-multiple-empty-lines": "error",
    "prefer-const": "error",
    "no-console": "warn",
    "quotes": "error",
    "no-extra-semi": "error",
    "comma-dangle": "error"
  },
  "extends": "eslint:recommended"
}