name: publish npm

on:
  push:
    tags:
      - 'version:*'
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy_npm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0 # اطمینان از دریافت تاریخچه کامل گیت

      - uses: actions/setup-node@v2
        with:
          node-version: '14.x'
          registry-url: 'https://registry.npmjs.org'

      - name: Install dependencies
        run: npm install

      - name: Run build and prepare release
        run: npm run debug && npm run release

      - name: Commit & Push changes
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add .
          git commit -m "chore: update build files before npm publish" || echo "No changes to commit"
          git push origin main

      - name: Check if version needs publishing
        id: check_version
        run: |
          PACKAGE_VERSION=$(node -p "require('./package.json').version")
          NPM_VERSION=$(npm show @majidh1/jalalidatepicker version || echo "0.0.0")

          echo "Package.json version: $PACKAGE_VERSION"
          echo "Published npm version: $NPM_VERSION"

          if [ "$PACKAGE_VERSION" != "$NPM_VERSION" ]; then
            echo "New version detected. Proceeding with publish."
            echo "publish=true" >> $GITHUB_ENV
          else
            echo "No new version found. Skipping publish."
            echo "publish=false" >> $GITHUB_ENV
          fi

      - name: Publish to NPM
        if: env.publish == 'true'
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
